<!DOCTYPE html>
<html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
      <form method='POST' action="calculate">
          <h4>Input rectangle dimensions <br> Example: (3,3)</h4>
         <input type="text" name="dimensions" id="dims"/>
          <h4>Input rectangle corner coordinates <br>
             Example: (1.5, 1.5), (4.0, 1.5), (1.5, 8.0), (4.0, 8.0)</h4>
         <input type="text" name="corners" id="corners"/>
         <br>
         <input type="submit" value="Submit rectangle info"/>
      </form>
   </body>
</html>